.post{
    width: 550px;
    margin: 30px 40px 50px 40px;
}
.post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.post_headerAuthor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.post_headerAuthor > span {
    color: grey;
    font-size: 15px;
    
}
.post_image > img {
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
  }
  
  .post_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
.post_Icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.post_Icons:hover{
  cursor: pointer;
}
 
Avatar{
  margin: 10px;
}