.post{
    width: 550px;
    margin: 30px 40px 50px 40px;
}
.post_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.post_headerAuthor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.post_headerAuthor > span {
    color: grey;
    font-size: 15px;
    
}
.post_image > img {
    width: 500px;
    height: 500px;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
  }
  
  .post_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
.post_Icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.post_Icons:hover{
  cursor: pointer;
}
 
Avatar{
  margin: 10px;
}


@media screen and (max-width: 900px) {
  .post {
    width: 400px;
    margin: 20px 10px;
    padding: 10px;
  }

  .post_headerAuthor {
    font-size: 14px;
  }

  .post_image > img {
    width: 400px;
    border-radius: 4px;
  }

  .post_footer {
    padding: 5px 0;
  }

  .post_likes {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .post {
    width: 300px
    margin: 30px auto;
    padding: 15px;
  }

  .post_headerAuthor {
    font-size: 16px;
  }

  .post_image > img {
    border-radius: 6px;
  }

  .post_footer {
    padding: 10px 0;
  }

  .post_likes {
    font-size: 16px;
  }
}
